<h2>Login</h2>
<div class="login-box">
    <form name="loginForm" class="m-t-md" ng-submit="login()">
        <div ng-show="error && !loginForm.$dirty" class="alert alert-danger" role="alert">
            {{error}}
        </div>
        <div class="form-group">
            <input type="text" name="email" id="email" class="form-control" ng-model="loginData.email" placeholder="Email" required />
            <label ng-show="loginForm.email.$dirty && loginForm.email.$error.required" class="error">Email je povinný</label>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" ng-model="loginData.password" placeholder="Heslo" required />
            <label ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="error">Heslo je povinné</label>
        </div>
        <button type="submit" ng-disabled="disabled || loginForm.$invalid" class="btn btn-success btn-block">Login <i ng-if="dataLoading" class="fa fa-spinner fa-pulse"></i></button>
    </form>
</div>
